@charset "utf-8";
/* CSS Document */
 body {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    text-align: center;
    background-color: #0E0E0E;
    color: white;
}
header { 
	background-image: url(images/the-flatiron-building.png);
}
header a{ 
	font-family: Helvetica;
	font-size: 18px;
	color: white; 
	margin: 20px; 
	list-style: none;
	
}
.container{ 
width: 1280px;
height: 1280px; 
margin: 0 auto;
background-color: white;
}
h1 {
	font-family: helvetica;
	font-weight: bold;
	font-size: 70px;
	color: white; 
	text-align: center; 
}
h2 { 
	font-family: helvetica;
	font-weight: bold;
	font-size: 32px;
	color: black; 
	text-align: centre;
}
h3 { 
	font-family: helvetica;
	font-weight: bold;
	font-size: 23px;
	color: black; 
	text-align: centre;
}
h4 {
	font-family: helvetica;
	font-weight: bold;
	font-size: 23px;
	color: white; 
	text-align: centre;
}
	
p { 
	font-family: helvetica;
	color: black; 
	text-align: centre;
}
#bg2 { 
	background-image: url(images/the-flatiron-building.png);

}
.inline { 
	display: inline;
}
.copyright { 
 font-family: helvetica; 
 font-size: 11px; 
 color: white; 
	height:inherit; 
	width: inherit;
}
footer{ 
	background-color: dimgray;
	text-align: left;

}